/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap') */
@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape);

:root {
	--main-bg-color: #f3f3f3;
	--vermelho: #e50914;
	--preto: #0a0a0a;	
	--branco: #e6e7e9;
	--Graphite: #414141;  
	--scrollerGrey: 219,219,219;
	--lightGrey: 227,227,227;
	--darkerGrey: 200,200,200;
	--tmdbDarkBlue: 3,37,65;
	--tmdbLightBlue: 1,180,228;
	--tmdbLighterGreen: 192,254,207;
	--tmdbLightGreen: 30,213,169;
	--tmdbLogoGreen: 144,206,161;
	--tmdbLogoOrange: 253,193,112;
	--tmdbLogoRed: 217,59,99;
	--accountSilver: 149,149,149;
	--accountPink: 234,20,140;
	--accountPurple: 128,91,231;
	--accountGreen: 1,210,119;
	--accountTeal: 1,198,172;
	--accountLightBlue: 1,180,228;
	--accountBlue: 1,119,210;
	--accountOrange: 210,119,1;
	--accountYellow: 210,144,1;
	--accountRed: 212,2,66;
	--imageBorderRadius: 8px;
	--maxPrimaryPageWidth: 1400px;
}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
  	
}

/* html{font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
} */

body {
/* 	color: #333; */
	font-family: Arial, Times, Liberation, Tahoma, Roman, sans-serif;	
	margin: auto; 
}

a{
	background-color: transparent;
}

a, a:visited, a:hover, a:active
{
/* 	color:#336699; */
	text-decoration: none;
	color:#AAA;
	margin-right: 10px;
}

a:hover
{
	color:#f00000;
}

ul {
   display: block;
/*    list-style-type: disc;
   margin-block-start: 2em;
   margin-block-end: 2em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   align-items: center;	 */	
}

li{
	margin-block-end:25px;
}


div{
   display: block;
}	

/* #ImgDest{	
	background-size: cover;
	background-repeat: no-repeat;
 	width: 90%;
	height: 30em; 
} */

#destaque{
	border-bottom: 1px solid rgb(210,144,1);	
}

/* Classes */

.mainView {
   position: relative;
   min-height: 730px;
	max-height: 1100px;
   z-index: 0;
	background-color: var(--preto); 	 
}

.icone{	
	align-items: center;
	text-align:center;
	height: 24px;
	width: 24px;
	margin-left: 5px;
	vertical-align: middle;	
}

.cabecalho{
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
/*	
    justify-content: space-between;		
	padding-left: 5px; */
	
	align-items: center;
	text-align: center;
	margin-top: 0;
	width: 40px;	
}

.menu_posicao {
   -webkit-box-orient: vertical-align;
   -webkit-box-direction: normal;
   -webkit-flex-direction: col;
   -ms-flex-direction: col;
   flex-direction: col;
}

.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 50px;
	padding-left: 6px;	
	border: 1px solid var(--vermelho);
	background-color: var(--preto);	
}


.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* -- Destaque -- */
.banner {
	display: flex;
   z-index: 0;
	margin-left: 51px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
/*	background-size: cover; 
	background-position: 50% 50%;	 */
 	height: 540px;
 	width: 95.8%; 

}

.container{
	/* Black background with 0.5 opacity */	
	background-color: rgba(0, 0, 0, 0.25); 
 	width: 100%; 	
}

.banner .container {
	margin-top: 0;
	padding: 2px;	
	color: #fff;
}

.container .text-block {
	margin-top: 23em;
	margin-left: 1.5%;
	margin-bottom: 10px;
	color: white; 
	width: 70%; 
}

.box-filme {
   height: 100%;
   width: 100%;
   display: block;
}

.carrousel-films {
/* 	display: block;
	position: relative; */  
	margin-top: 5px; 
	margin-left: 51px;
}

.botao{
   background-color: rgba(0, 0, 0, .70);
   border:none; 
   color: white;
   padding: 10px 20px;
   margin-right: 15px;
   /*font-size: 12px;*/
	font-size: 1.1vw;	
	text-align: center;
   cursor: pointer; /*faz o botão mudar de cor ao passar o mouse*/
   transition: .3s ease all; /*cuida da transação ao passar o mouse*/
	border-radius: 3px 0 0 3px;
	white-space: nowrap;	
	line-height: 88%;
}

.botao:hover{
   background-color:white;
   color:black;
}


.botoes{
	margin-top: 1vw;	
	margin-bottom: 50px;
}
